.img-gulf{
    width: 100%;
    height: 100vh;
}
.img-logo{
    width: 100%;
}
.footer-css{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ml5-css{
    padding-left: 30px;
}
.mr5-css{
    padding-right: 30px;
}
.div-gulf{
    padding: 20px;
    position: absolute;
    z-index: 100;
    text-align: center;
    border-radius: 30px;
    border: whitesmoke 3px solid;
    box-shadow: inset 0 0 150px white;
}
footer{
    background-color: rgba(5, 15, 100);
}
.class-img-css{
    height: 100vh;
}
.div-Carousel{
    display: flex;
    justify-content: center;
}
.cards-css{
    height: 18rem;
}
.img-cards-gaseosas{
    height: 18rem;
}
.img-css-cafeteria{
  height: 13rem;
}
.img-css-cocina{
    height: 13rem;
  }
.neon-css{
    position: absolute;
    z-index: 100;
    left: 1.2vw;
    top: 5vw;
}
.imagen-neon-css{
    width: 75%;
}
.titulos{
    font-family: 'Fredoka One', cursive;
}
.menu-titulo{
    font-family: 'Courgette', cursive;
    font-size: 3rem;
}
.subtitulos{
    font-family: 'Lobster Two', cursive;
}
.subtitulos-footer{
    font-family: 'Carter One', cursive;
}
.icon-css{
    font-size: 2.7rem;
    cursor: pointer;
}
h2 a i{
    text-decoration: none;
    color: white;
}
.border-laDiag{
    border: 2px solid white;
}

@media (max-width: 600px){
    .img-gulf{
        width: 100%;
        height: 100vh;
    }
    .footer-css{
        display: block;
    }
    .ml5-css{
        padding: 0;
    }
    .ml5-css{
        display: flex;
        justify-content: center;
    }
    .mr5-css{
        padding-top: 10px;
        padding-right: 0;
    }
    .h2-css{
        text-align: center;
    }
    .div-gulf{
        padding: 7px;
        position: absolute;
        text-align: center;
        border-radius: 10px;
        border: whitesmoke 3px solid;
        box-shadow: inset 0 0 150px white;  
    }
    .div-gulf h1{
        font-size: 15px;
    }
    .div-gulf h3{
        font-size: 15px;
    }
    .div-gulf h5{
        font-size: 15px;
    }
    .class-img-css{
        height: 75vh;
    }
    .cards-css{
        height: auto;
    }
    .imagen-neon-css{
        width: 25%;
    
    }
    .img-logo{
        width: 50vh;

    }
    .neon-css{
        position: absolute;
        z-index: 100;
        left: 1.2vw;
        top: 15vw;
        
    }
    .tucuman-css{
        font-size: 1.5rem;
    }
    .diagonalCss{
        font-size: 3rem;
    }
    .diagEstacionServ{
        font-size: 1.8rem;
    }
    .GLLCss{
        font-size: 1.1rem;
    }
    .AvSiriaCss{
        font-size: 1.3rem;
    }
    .border-laDiag{
        border: 2px solid white;
        margin-left: 10px;
        margin-right: 10px;
    }
}
